<!-- {% block title %}Enter new password{% endblock %} -->
{% load crispy_forms_tags %}

{% block body %}
<!-- <h1>Set a new password!</h1> -->

<div class="container">
    
 <div class="row">        
    <div class="col-md-6 offset-md-3">
        <h1 style="text-align:center;" >Reset Password</h1>


<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <div style = 'margin-left:550px'> 

      <input type="submit" class="btn btn-primary" value="Change my password"/>  </div>

</form>

   
</div>
</div>

{% endblock body %}