{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}

<div  class="container" >
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 style="text-align:center;" >Login</h1>
        <hr>
        <form method = "post">
            {% csrf_token %}
            
            {{form|crispy}}
            <br>
            <div style = 'margin-left:220px'> 
                <button type = "submit" class = "btn btn-danger" >Login</button>
            </div>
        </form>
    </div>
  </div>


{% endblock body %}
